.grid {
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  border: 1px solid black;
  div {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    display: inline-block;
    float:left;
  }
  .snake {
    background-color: green;
  }

  .food {
    background-color: red;
  }
}

.container {
  width: 1070px;
  margin: auto;
}

.game {
  width: 70%;
  float: left;

  display: inline-block;
}

.sidebar {
  width: 30%;
  float: left;
  display: inline-block;
  .score {
    font-size: 3rem;
    width: 100%;
    line-height: 4rem;
  }
  .key {

    h3 {
    font-size: 2rem;
    margin: 0;
    line-height: 3rem;
  }
}
}
