@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Michroma);


body {
  font-family: 'Roboto';
  background-color: #f1c40f;
}

.site-title {
  font-family: 'Michroma';
  text-transform:  uppercase;
  text-align: center;
  color: white;
  margin: 5px;
  font-size: 2.5rem;
}

.grid {
  background-color: white;
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  border: 10px solid#d35400;
  div {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    display: inline-block;
    float:left;
  }
  .snake {
    background-color: green;
  }

  .food {
    background-color: red;
  }
}

.container {
  width: 1070px;
  margin: auto;
}

.game {
  width: 65%;
  float: left;
  position: relative;
  display: inline-block;
}

.sidebar {
  margin-top: 77px;
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  border: 10px solid#d35400;
  float: left;
  display: inline-block;
  .score {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    color: white;

  }
  .key {
    text-align: center;
    p{
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    h3 {
    font-size: 1.5rem;
    margin: 15px 0 ;
    line-height: 2rem;
  }
}
}

#status-message {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 250px;
  h3{
    color:#d35400;
    font-family: 'Michroma';
    margin: 0;

  }
  .instructions {
    display: block;
    font-size: 1.2rem;
  }
}
